:root {
  --ion-color-primary: #ff7200;
  --ion-color-primary-rgb: 255, 114, 0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e06400;
  --ion-color-primary-tint: #ff801a;

  --ion-color-secondary: #ff8d35;
  --ion-color-secondary-rgb: 255, 141, 53;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e07c2f;
  --ion-color-secondary-tint: #ff9849;

  --ion-color-tertiary: #f6af77;
  --ion-color-tertiary-rgb: 246, 175, 119;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d89a69;
  --ion-color-tertiary-tint: #f7b785;

  --ion-color-success: #32bea6;
  --ion-color-success-rgb: 50, 190, 166;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #2ca792;
  --ion-color-success-tint: #47c5af;

  --ion-color-warning: #ffc400;
  --ion-color-warning-rgb: 255, 196, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac00;
  --ion-color-warning-tint: #ffca1a;

  --ion-color-danger: #f36161;
  --ion-color-danger-rgb: 243, 97, 97;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #d65555;
  --ion-color-danger-tint: #f47171;

  --ion-color-medium: #cfc6be;
  --ion-color-medium-rgb: 207, 198, 190;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #b6aea7;
  --ion-color-medium-tint: #d4ccc5;

  --ion-color-light: #f5eae0;
  --ion-color-light-rgb: 245, 234, 224;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8cec5;
  --ion-color-light-tint: #f6ece3;
}

*, body, html {
	font-family: "Athletics", Arial !important;
}

@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-Light.otf");
	font-weight: 100;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-Light.otf");
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-LightItalic.otf");
	font-weight: lighter;
	font-style: italic;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-Regular.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-Italic.otf");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-Medium.otf");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-MediumItalic.otf");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-Bold.otf");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-BoldItalic.otf");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-ExtraBold.otf");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-ExtraBoldItalic.otf");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-Black.otf");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Athletics";
	src: url("../assets/fonts/Athletics-BlackItalic.otf");
	font-weight: 900;
	font-style: italic;
}